.container {
  display: none;

  @media (min-width: 40em) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
}

.avatar {
  width: auto;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
  transition: all 1s ease;
  filter: saturate(0.8);
  &:hover {
    filter: none;
  }
}
