.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  min-height: 100vh;
}

.display {
  font-size: 12rem;
  font-weight: bold;
  color: #182935;
}

.control {
  border: 0;
  padding: 1em 1.56em;
  font-size: 1.4rem;
  background: #e3e3e3;
}
