.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 40px;
  width: 92vw;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
