@use 'styles/pages/config.scss' as *;

.gate {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotateX(0);
}

.link {
  margin-top: -310px;
  padding: 100px;
  text-decoration: none;
  color: $white;
  font-size: 20px;
  font-weight: 800;
  text-shadow: -1px 2px 3px $black;
}
