.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  width: 100vw;
  padding: 16px 3vw;

  @media (min-width: 48em /* 768px */) {
    padding: 80px 5vw;
  }

  background: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.75) 50%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateX(-50%);
}
